# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\springboot开发\雏雁项目\swallows\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
